/* style carte de visite */

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url("fond.jpg") no-repeat center center;
    margin: 0 auto;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    
}
header {
    margin: 25px 0 0 0;
    text-align: center;
    color: #F5F5F5;
    font-family: poppins, arial, sans-serif;
}
main {
    position: relative;
    height: 100%; /* Assure que le footer reste bien positionné */
}
h1 {
    font-size: 36px;
}
.présentation {
    padding: 20% 0 0 0;
    text-align: center;
    color: #F5F5F5;
    font-family: roboto, arial, sans-serif;
}
@media (max-width: 768px) {
    .présentation 
        padding: 10% 0 0 0;
    }
.acroche{
    margin-top: 170px;
} 
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;    /* Espace équitable entre les sections */
    align-items: center; /* Aligne verticalement les icônes et le texte */
    color: #F5F5F5;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2); /* Optionnel pour un effet visuel */
}
@media (max-width: 768px) {
    .mail, .site {
        flex-direction: column; /* Aligne les éléments verticalement sur mobile */
        gap: 20px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
}
.mail, .site {
    display: flex;
    align-items: center; /* Aligne verticalement les icônes et le texte */
    gap: 15px; /* Espace entre l'icône et le texte */
    
}
.enveloppe, .internet {
    width: 2.5rem;
    height: auto;
}
.lien {
    color: #F5F5F5;
    text-decoration: underline;
}
hr {
    width: 60%;
    border: solid 1px #e3af4f;
    
}