/* style carte de visite */

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(49, 58, 84, 0.8) 10%, rgba(40, 57, 104, 0.8) 70%, rgba(49, 58, 84, 0.8) 90%), 
                url("fond.jpg") no-repeat center center;
    margin: 0 auto;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    
}
header {
    margin: 25px 0 0 0;
    text-align: center;
    color: #F5F5F5;
    font-family: poppins sans-serif;
}
main {
    position: relative;
    height: 100%; /* Assure que le footer reste bien positionné */
}
h1 {
    font-size: 36px;
}
.présentation {
    margin-top: 125px;
    margin-bottom: 50px;
    text-align: center;
    color: #F5F5F5;
}
.acroche{
    margin-top: 170px;
}
footer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    display: flex;
     /* Espace équitable entre les sections */
    align-items: center; /* Aligne verticalement les icônes et le texte */
    color: #F5F5F5;
    padding: 10px 0;
    margin-top: 50px;
}
.mail, .site {
    display: flex;
    align-items: center; /* Aligne verticalement les icônes et le texte */
    gap: 50px; /* Espace entre l'icône et le texte */
    margin: 15px 15px 0 15px;
}
.enveloppe, .internet {
    width: 40px;
    height: auto;
}
.lien {
    color: #F5F5F5;
    text-decoration: underline;
}
hr {
    width: 60%;
    border: solid 1px #e3af4f;
    
}